<!DOCTYPE html>
<html lang="en">

<head>
	<title>Contact V16</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" type="image/png" href="https://colorlib.com/etc/cf/ContactFrom_v16/images/icons/favicon.ico" />

	<link rel="stylesheet" type="text/css"
		href="https://colorlib.com/etc/cf/ContactFrom_v16/vendor/bootstrap/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css"
		href="https://colorlib.com/etc/cf/ContactFrom_v16/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css"
		href="https://colorlib.com/etc/cf/ContactFrom_v16/fonts/iconic/css/material-design-iconic-font.min.css">

	<link rel="stylesheet" type="text/css"
		href="https://colorlib.com/etc/cf/ContactFrom_v16/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">

	<link rel="stylesheet" type="text/css"
		href="https://colorlib.com/etc/cf/ContactFrom_v16/vendor/animate/animate.css">

	<link rel="stylesheet" type="text/css"
		href="https://colorlib.com/etc/cf/ContactFrom_v16/vendor/css-hamburgers/hamburgers.min.css">

	<link rel="stylesheet" type="text/css" href="view-source:https://colorlib.com/etc/cf/ContactFrom_v16/index.html">

	<link rel="stylesheet" type="text/css"
		href="https://colorlib.com/etc/cf/ContactFrom_v16/vendor/select2/select2.min.css">

	<link rel="stylesheet" type="text/css"
		href="https://colorlib.com/etc/cf/ContactFrom_v16/vendor/daterangepicker/daterangepicker.css">

	<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/cf/ContactFrom_v16/css/util.css">
	<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/cf/ContactFrom_v16/css/main.css">
	<style>
		.icontainer-contact100 {
			background: rgba(52, 73, 102, 0.8) !important;
		}
	</style>

</head>

<body>
	<div class="bg-container-contact100"
		style="background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Hnd01gaCiu89hpk4/videoblocks-network-on-a-black-background-cinematic-plexus-background-seamless-loop_hagskxz4rm_thumbnail-full01.png);">
		<div class="contact100-header flex-sb-m">
			<a href="/" class="contact100-header-logo">
				<h3>MAIN</h2>
			</a>
		</div>
	</div>
	<div class="container-contact100 icontainer-contact100">
		<div class="wrap-contact100">
			<button class="btn-hide-contact100">
				<i class="zmdi zmdi-close"></i>
			</button>
			<div class="contact100-form-title"
				style="background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Hnd01gaCiu89hpk4/videoblocks-network-on-a-black-background-cinematic-plexus-background-seamless-loop_hagskxz4rm_thumbnail-full01.png);">
				<span>Contact Us</span>
			</div>
			<!-- added method and action to form tag -->
			<!-- check the difference if you keep action as /contact -->
			<form action="/contact" method="POST" class="contact100-form validate-form">
				<div class="wrap-input100 validate-input">
					<!-- name = "name" -->
					<input id="name" class="input100" type="text" name="name" placeholder="Full name">
					<span class="focus-input100"></span>
					<label class="label-input100" for="name">
						<span class="lnr lnr-user m-b-2"></span>
					</label>
				</div>
				<div class="wrap-input100 validate-input">
					<!-- name = email -->
					<input id="email" class="input100" type="text" name="email" placeholder="Eg. example@email.com">
					<span class="focus-input100"></span>
					<label class="label-input100" for="email">
						<span class="lnr lnr-envelope m-b-5"></span>
					</label>
				</div>
				<div class="wrap-input100 validate-input">
					<!-- name= phone -->
					<input id="phone" class="input100" type="text" name="phone" placeholder="Eg. +1 800 000000">
					<span class="focus-input100"></span>
					<label class="label-input100" for="phone">
						<span class="lnr lnr-smartphone m-b-2"></span>
					</label>
				</div>
				<div class="wrap-input100 validate-input">
					<!-- name = message -->
					<textarea id="message" class="input100" name="message" placeholder="Your comments..."></textarea>
					<span class="focus-input100"></span>
					<label class="label-input100 rs1" for="message">
						<span class="lnr lnr-bubble"></span>
					</label>
				</div>
				<div class="container-contact100-form-btn">
					<button class="contact100-form-bin">
						Send Now
					</button>
				</div>
			</form>
		</div>
	</div>

	<script src="vendor/jquery/jquery-3.2.1.min.js" type="9a166c19ff58759dea81cb6d-text/javascript"></script>

	<script src="vendor/animsition/js/animsition.min.js" type="9a166c19ff58759dea81cb6d-text/javascript"></script>

	<script src="vendor/bootstrap/js/popper.js" type="9a166c19ff58759dea81cb6d-text/javascript"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js" type="9a166c19ff58759dea81cb6d-text/javascript"></script>

	<script src="vendor/select2/select2.min.js" type="9a166c19ff58759dea81cb6d-text/javascript"></script>

	<script src="vendor/daterangepicker/moment.min.js" type="9a166c19ff58759dea81cb6d-text/javascript"></script>
	<script src="vendor/daterangepicker/daterangepicker.js" type="9a166c19ff58759dea81cb6d-text/javascript"></script>

	<script src="vendor/countdowntime/countdowntime.js" type="9a166c19ff58759dea81cb6d-text/javascript"></script>

	<script src="js/main.js" type="9a166c19ff58759dea81cb6d-text/javascript"></script>

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"
		type="9a166c19ff58759dea81cb6d-text/javascript"></script>
	<script type="9a166c19ff58759dea81cb6d-text/javascript">
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-23581568-13');
	</script>
	<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/95c75768/cloudflare-static/rocket-loader.min.js"
		data-cf-settings="9a166c19ff58759dea81cb6d-|49" defer=""></script>
</body>

</html>