<body style="background-color: #000">
  <nav class="navbar navbar-expand-md navbar-light bg-transparent">
    <a
      class="navbar-brand display-4 border-primary border-bottom border-top rounded"
      ><% if (typeof name != 'undefined') { %>  Welcome <%= name %> <% } %>
    </a>
    <a class="btn btn-primary ml-auto" href="/users/logout">Logout</a>
  </nav>

  <!-- Shows validation errors -->
  <% include ./partials/messages %>
  <!-- Save new passwords -->
  <div class="container mb-5 mt-3">
    <p class="lead border-bottom border-primary rounded d-inline-block">
      Save Credentials
    </p>
    <form id="pass-form" method="POST" action="/dashboard">
      <div class="form-group">
        <label for="website">Name of the website</label>
        <input
          type="text"
          id="website"
          name="website"
          class="form-control bg-dark text-white"
          placeholder="Enter Website Name"
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control bg-dark text-white"
          placeholder="Enter Email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control bg-dark text-white"
          placeholder="Enter Password"
        />
      </div>
      <input
        type="submit"
        class="btn btn-primary btn-block mb-2"
        value="Save"
      />
    </form>
  </div>

  <!-- Display passwords -->
  <div class="container my-5">
    <p class="lead border-bottom border-primary rounded d-inline-block">
      Saved Accounts
    </p>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Website</th>
          <th scope="col">Email</th>
          <th scope="col">Password</th>
        </tr>
      </thead>
      <tbody>
        <%- accounts %>
      </tbody>
    </table>
  </div>
</body>
