<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content=""/>
    <meta name="author" content="" />

    <!-- Bootstrap core CSS -->
    <link
      href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link
      href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css"
      rel="stylesheet"
    />

    <title>Pass Lock</title>
    <style>
      .icontainer {
        justify-content: center !important;
        align-items: center !important;
        margin-top: 150px !important;
        /* how to make this responsive */
      }
      body {
        background: url('img/staircase.jpg') no-repeat center center/cover;
      }
      .btn-secondary:hover {
        background-color: #333;
        color: #fff;
      }
    </style>
  </head>

  <body class="text-center">
    <div class=" container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead iborder">
        <div class="inner">
          <h3 class="masthead-brand">passLock</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="/contact">Contact</a>
          </nav>
        </div>
      </header>

      <main role="main" class="container icontainer">
        <!-- "cover-heading" -->
        <h1 class="cover-heading">Password</h1>
        <p class="lead">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, nemo!
        </p>
        <p class="lead">
          <a href="/users/register" class="btn btn-lg btn-secondary"
            >Register</a
          >
          <a href="/users/login" class="btn btn-lg btn-secondary ml-2">Login</a>
        </p>
      </main>
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>
            Cover template for
            <a href="https://getbootstrap.com/">Bootstrap</a>, by
            <a href="https://twitter.com/mdo">@mdo</a>.
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
