<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content=""/>
    <meta name="author" content="" />

    <!-- Bootstrap core CSS -->
    <link
      href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link
      href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css"
      rel="stylesheet"
    />

    <title>passLock</title>
    <style>
      body {
        background: url('img/staircase.jpg') no-repeat center center/cover;
      }
      .btn-secondary:hover {
        background-color: #333;
        color: #fff;
      }      
    </style>
  </head>

  <body class="text-center">
    <div class=" container h-75 d-flex flex-column align-items-center justify-content-center">
      <main role="main" class="container">
        <!-- "cover-heading" -->
        <div class="container my-4">
          <h1 class="cover-heading">Password</h1>
          <p class="lead">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, nemo!
          </p>
        </div>
        <p class="lead">
          <a href="/users/register" class="btn btn-lg btn-secondary border border-primary"
            >Register</a
          >
          <a href="/users/login" class="btn btn-lg btn-secondary ml-3 border border-primary">Login</a>
        </p>
      </main>
    </div>
  </body>
</html>
